body {
    background-color: tomato;
}

form {
    text-align: center;
    margin-top: 20%;
}

.color1 {
    margin-bottom: 10px;
    padding: 50px;
}
.login_user {
    margin-left: 48%;
    margin-top: 80px;
}

.page_wrap {
    display: none;
    text-align: center;
    margin-top: 20%;
}